<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
    <springProperty scope="context" name="logLevel" source="logging.level"/>
    <property name="log.dir" value="/lbservice-log"/>
    <property name="projectName" value="lbservice"/>

    <!-- 控制台输出 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <charset>utf8</charset>
            <pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level [%thread]%logger{56}.%method:%L -%msg%n</pattern>
        </encoder>
    </appender>

    <!-- 系统info日志文件 -->
    <appender name="infoAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.dir}/logs/${HOSTNAME}-${projectName}_info.log</file>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>info</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.dir}/logs/${HOSTNAME}-${projectName}_info_%d{yyyy-MM-dd}.log
            </fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder charset="UTF-8" class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d %-4relative %-5level [%thread] %logger{0}: %msg%n</Pattern>
        </encoder>
    </appender>
    <!-- 系统error日志文件 -->
    <appender name="errorAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.dir}/logs/${HOSTNAME}-${projectName}_error.log</file>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>warn</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.dir}/logs/${HOSTNAME}-${projectName}_error_%d{yyyy-MM-dd}.log
            </fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder charset="UTF-8" class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d %-4relative %-5level [%thread] %logger{0}: %msg%n</Pattern>
        </encoder>
    </appender>

    <logger name="org.apache">
        <level value="INFO"/>
        <appender-ref ref="errorAppender"/>
        <appender-ref ref="infoAppender"/>
    </logger>

    <logger name="org.springframework">
        <level value="INFO"/>
        <appender-ref ref="errorAppender"/>
        <appender-ref ref="infoAppender"/>
    </logger>

    <logger name="com.netflix">
        <level value="INFO"/>
        <appender-ref ref="errorAppender"/>
        <appender-ref ref="infoAppender"/>
    </logger>

    <logger name="com.lb.lbservice.dao">
        <level value="debug"></level>
    </logger>

    <root level="${logLevel}">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>