<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lb.lbservice.dao.JobMapper" >


    <select id="getJobList" resultType="com.lb.lbservice.model.JobModel">
      SELECT
        id AS id,
        job_name AS jobName,
        department_id AS departmentId,
        department_name AS departmentName,
        job_salary_min AS jobSalaryMin,
        job_salary_max AS jobSalaryMax,
        job_city AS jobCity,
        publish_date AS publishDate
      FROM operator_job
      WHERE job_status = 0
    </select>
    <select id="getJobListPage" resultType="com.lb.lbservice.model.JobModel">
      SELECT
        id AS id,
        job_name AS jobName,
        department_id AS departmentId,
        department_name AS departmentName
      FROM operator_job
      WHERE job_status = 0
      LIMIT #{start}, #{pageSize};

    </select>
    <select id="selectCount" resultType="java.lang.Long">
      select count(1)
      FROM operator_job
      WHERE job_status = 0
    </select>
    <select id="getJob" resultType="com.lb.lbservice.model.JobModel">
      SELECT
        id AS id,
        job_name AS jobName,
        department_id AS departmentId,
        department_name AS departmentName,
        job_salary_min AS jobSalaryMin,
        job_salary_max AS jobSalaryMax,
        job_city AS jobCity,
        publish_date AS publishDate,
        job_need_count AS jobNeedCount,
        job_duty AS jobDuty,
        job_requirement AS jobRequirement
      FROM operator_job
      WHERE job_status = 0
      AND id = #{}

    </select>
</mapper>